body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}
.sidebar{
    flex: 1;
    background-color:rgb(238, 231, 231);
    border: 1px solid rgb(244, 238, 238);
}
.content{
    flex: 1;
    background-color:rgb(248, 244, 244);
    border: 1px solid rgb(240, 235, 235);
}
.content-label{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}
.label-input{
    display: flex;
    flex-direction: column;
flex-basis:40% ;
margin: 5px;
}
.hand{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}
.container-mem{
display: flex;
flex-direction: column;
flex-basis: 40%;
margin: 5px;
}
.badr{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}
.mahi{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin: 5px;
}
.sunna{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}
.zak{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin: 5px;
}
.sufi{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}
.muhi{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin: 5px;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
li a {
    text-decoration: none;
    margin-right: 100px;
    font-size: larger;
    font-weight: bold;
}
.h1{
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
}
.asla{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.ahma{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin: 5px;
}
.title{
    font-size: 1.5rem;
    text-align: center;
    font-weight: lighter;
}
.title-33{
    font-size: 1rem;
    text-align: center;
    font-weight: lighter;
}
.form-1{
    margin-left:40px;
}
.form-2{
   margin-left: 40px; 
}
.reset{
    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    margin: 40px;
    transition: opacity 0.15s;
    background-color: rgb(60, 15, 103);
    border: none;
    border-radius: 15px;
}
.reset:hover{
    opacity: 0.8;

}
.reset:active{
opacity: 0.5;
}
.submit{
    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    margin: 40px;
    transition: opacity 0.15s;
    background-color: rgb(229, 40, 40);
    border: none;
    border-radius: 15px;
}
.submit:hover{
    opacity: 0.8;

}
.submit:active{
opacity: 0.5;
}